* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
:root {
  --red: hsl(0, 100%, 74%);
  --green: hsl(154, 59%, 51%);
  --blue: hsl(248, 32%, 49%);
  --darkblue: hsl(249, 10%, 26%);
  --grayishblue: hsl(246, 25%, 77%);
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--red);
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(./images/bg-intro-desktop.png) no-repeat center center/cover;
}
.main-content {
  display: grid;
  grid-template-columns: 2fr 2fr;
  margin: 0px 130px;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 2px solid white; */
  margin: 0 60px;
}
.content h2 {
  font-size: 43px;
  font-weight: bold;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 25px;
}
.content p {
  color: #fff;
  line-height: 1.7;
  opacity: 0.7;
}
.link-span {
  font-size: 12px;
  opacity: 0.7;
}
.form-container {
  display: flex;
  flex-direction: column;
}
.link {
  background-color: var(--blue);
  text-align: center;
  width: 470px;
  padding: 16px;
  border-radius: 8px;
  color: #fff;
  margin-bottom: 20px;
  font-size: 14px;
  box-shadow: 0px 5px 1px rgba(0, 0, 0, 0.2);
}
.link:hover {
  box-shadow: 0 10px 10px -10px #000000;
}
.form-input {
  background-color: #fff;
  height: 450px;
  max-width: 470px;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border-radius: 8px;
  box-shadow: 0px 6px 1px rgba(0, 0, 0, 0.2);
}
.form-input .fname,
.lname,
.email,
.password,
.btn {
  padding: 16px;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 0.2px solid hsla(246, 25%, 77%, 0.3);
}
.form-input .fname,
.lname,
.email,
.password,
.btn:focus {
  outline-color: hsla(249, 10%, 26%, 0.3);
}
input:hover {
  box-shadow: 0 10px 10px -10px #000000;
}

.form-input .btn {
  color: #fff;
  background-color: var(--green);
  border: none;
  cursor: pointer;
  /* margin-bottom: 15px; */
  /* box-shadow: 0 10px 10px -10px #000000; */
}
.form-input .btn:hover {
  color: #fff;
  background-color: var(--green);
  border: none;
  cursor: pointer;
  box-shadow: 0 10px 10px -10px #000000;
}
.form-input p {
  font-size: 10px;
  width: 100%;
  text-align: center;
  color: var(--grayishblue);
}
.terms {
  color: var(--red);
  font-weight: bold;
}

small {
  padding: 0;
  margin: 0px 2px 15px 0;
  text-align: end;
  color: var(--red);
}
